body {
    font-size: 16px;
    font-family: 'Lora', 'serif';
}
/* Header and Navigation */
header {
    

}

h1 {
    color:rgb(80, 79, 79);
    letter-spacing: 10px;
    word-spacing: 12px;
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Lora', 'serif';
    font-weight:lighter;
    margin: 15px;
}

nav {
    color:rgb(86, 90, 93);
    text-align: center;
    margin: 15px;
    letter-spacing: 4px;    
    word-spacing: 50px;
    font-weight: 300;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
}


a:link {
    color:rgb(86, 90, 93);
    text-decoration:none;
}

a:visited {
    color: darkslategray;
    text-decoration:none;
}

a:hover {
    text-decoration: line-through rgb(86, 90, 93);
}

/*Homepage containers*/

#kd-photo-container {
    display: grid;
    justify-items: center;
    padding: 1rem;
}


#kd-photo {
    width: 35%;
    border-radius: 50%;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
}

.text-title {
    font-family: 'Lato', sans-serif;
    color:rgb(80, 79, 79);
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 1px;
}

.main-text {
    font-family: 'Lato', sans-serif;
    color: rgb(86, 90, 93);
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.social-links {
    text-align: center;
    margin: 0.5rem;
  }
  
.social-links a {
    display: inline-block;
    margin: 0.5rem;
    font-size: 1.5rem;
    color: #333; 
  }

.social-links a:hover {
    color: #007bff; 
  }


footer {
    margin: 1rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

/*About Page containers*/

#about-me {  
    padding: 1rem;
    text-align: center;
    display: grid;
}

/*Projects Page containers*/

#projects { 
    padding: 1rem;
    text-align: center;
}

#projects-github {
    text-decoration: none;
}


/*Contact Page containers*/

#contact-section h2 {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
#contact-div { 
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
}

#contact-div label {
    flex: 1;
    flex-basis: 15%;
    max-width: 15%;
}

#contact-div input {
    flex:2;
    flex-basis: 30%;
    max-width: 30%;
}